@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Montserrat:wght@100;400;700&family=Open+Sans:wght@400;700&family=Pacifico&family=Roboto+Slab:wght@100;400;700&display=swap');

/*
GERAL
*/

body, ul, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	color: #4d4d4d;
}
a {
	text-decoration: none;
	color: #fff;
}

img {
	max-width: 100%;
	display: block;
}

h1, h2, h3 {
	margin: 0px;
	font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
	font-weight: bold;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
	background-color: #4d4d4d;
}

.menu {
	display: flex;
	 
}

.menu li {
	margin-left: 10px;

}
.menu li a {
	display: block;
	padding: 10px;
	
}
.portfolio {
	display: flex;
	flex-wrap: wrap;
	max-width: 900px;
	margin: 0 auto;
	
}
.portfolio > div {
	flex: 1 1 250px;
	margin: 10px;
}

h2 {
	text-align: center;
	margin: 20px;
}




/*
NAV
*/

header {
	background-image: url("./imagens/fundo.jpg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #f1f1f1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
	height: 30vh;

}

header p {
	margin-bottom: 2em;
}

/*
SOBRE
*/

#sobre {
	display: flex;
	flex-direction: column;
}